nav
  ul 
    li 
      a(href="/standings") Standings
    li 
      a(href="/predictions/create") Make Predictions
    li
      a(href="/") Home  
    li
      form(action="/logout", method="post") 
        button(type="submit") Log out
    