doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Family Fantasy
    link(rel="stylesheet", href="../styles/base.css")
  body 
    h1 Welcome to the page
      = username ? `, ${username}!` : '!'
    if username
      include  partials/navbar.pug
    block content
    div.footer copyright © 2023
