extends layout.pug 
block content
  h2.is-center Predictions Page
  if games && Object.keys(games).length !== 0
    div
      h3.is-center Upcoming Games:
      div.is-horizontal-align 
        form#predictionsForm(action=`/predictions/create`, method="post")
          each game, gameId in games
            include partials/game.pug
          div.grouped.is-center
            button#loadMore(type="button") Load More Games
            button(type="submit") Save Predictions!
  else 
    p.tag.is-center no upcoming games 
  script(src="../assets/loadMore.js") 