extends layout.pug 
block content
  h2.is-center Predictions Page
  if games && Object.keys(games).length !== 0
    div
      h3.is-center Upcoming Games:
      div.is-horizontal-align 
        form(action=`/predictions/create`, method="post")
          each game, gameId in games
            include partials/game.pug
          button#loadMore.is-full-width(type="button") Load More Games
          button.is-full-width(type="submit") Save Predictions!
  else 
    p.tag.is-center no upcoming games 
  script(src="../assets/loadMore.js")
